
<!DOCTYPE html>
<html>

<head>
    <title>Students</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>All Students</h1>

    <table border="1">

        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Course</th>
            <th>Year</th>
            <th>Address</th>
            <th>Action</th>
        </tr>

        {% for student in students %}

        <tr>
            <td>{{ student[0] }}</td>
            <td>{{ student[1] }}</td>
            <td>{{ student[2] }}</td>
            <td>{{ student[3] }}</td>
            <td>{{ student[4] }}</td>
            <td>{{ student[5] }}</td>
            <td>{{ student[6] }}</td>

            <td>
                <a href="/edit-student/{{ student[0] }}">
                    <button>Edit</button>
                </a>

                 <a href="/delete-student/{{ student[0] }}">
                    <button>Delete</button>
                </a>
            </td>

        </tr>

        {% endfor %}

    </table>

</body>

</html>